html,
body {
	min-height: 100vh;
}

.sticky-footer {
	display: flex;
	flex-direction: column;
}

.main {
    padding-top: var(--header-height);

    @include mobile {
        padding-top: var(--header-height-mobile);
    }
}

.footer {
	margin-top: auto;
}